
.container{
    display:flex;
    border: solid 3px blueviolet;
    height: 600px;
    width: 400px;

    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.box{
    background-color: black;
    min-width: 100px;
    height: 100px;
    margin: 8px;
}